## Pandas Overview

In this section we'll use the Pandas library to take in a .csv file and look at some basic facts about the dataset. Pandas has many built-in functions that are easy to use. In this example, we are only using these functions in their most basic form. Pandas is a very large library with an immense amount of functionality.

#### Import Pandas

[Documentation](https://pandas.pydata.org/pandas-docs/stable/index.html)

In [ ]:
import pandas as pd

In [ ]:
empty_df = pd.DataFrame()
empty_df

#### Read in a file

We can create a Pandas DataFrame using the .read_csv() function. Keep in mind you can also pass in other types of text files with various delimiters to this function. To use this function in its most basic form, simple pass it the filepath. [Pandas Docs](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html)

In [ ]:
pd.read_xls()

In [ ]:
sample_df = pd.read_csv('houston_claims.csv')
sample_df

In [ ]:
sample_df = pd.read_csv('houston_claims.csv', header=0, index_col=0)
sample_df

In [ ]:
sample_df = pd.read_csv('houston_claims.csv', header=0, index_col=0,
                        parse_dates=['dateOfLoss'])
sample_df

In [ ]:
sample_df = pd.read_csv('houston_claims.csv', header=0, index_col=0, 
                        parse_dates=['dateOfLoss', 'yearofLoss'], true_values=['True'], false_values=['False'])
sample_df

In [ ]:
sample_df.info()

In [ ]:
type(sample_df['elevatedBuildingIndicator'][0])

In [ ]:
sample_df.head(10)

In [ ]:
sample_df.tail(3)

In [ ]:
sample_df[10:30:2]

#### Look at the shape of a dataframe

In [ ]:
len(sample_df)

In [ ]:
sample_df.shape

#### Get a basic idea of what's in the dataframe and spotting missing values

In [ ]:
sample_df.info()

In [ ]:
sample_df.head()

Indexing and selecting data. [Pandas User Guide](https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html)

In [ ]:
sample_df.columns

In [ ]:
sample_df.dtypes

In [ ]:
sample_df.describe()

#### Accessing and Indexing Data

In [ ]:
amount_paid = sample_df['amountPaidOnContentsClaim']
amount_paid

In [ ]:
sample_df.amountPaidOnContentsClaim

In [ ]:
lat_long = sample_df[['latitude', 'longitude']]
lat_long

In [ ]:
row_id = '5e398d6774cbd479fc898dea'
# row_id = 0
cols = ['longitude', 'latitude']

subsample = sample_df.loc[row_id, cols]
subsample

In [ ]:
sample_df.set_index('id', inplace=True)
sample_df

In [ ]:
row_id = '5e398d6774cbd479fc898dea'
# row_id = 0
cols = ['longitude', 'latitude']

subsample = sample_df.loc[row_id, cols]
subsample

In [ ]:
sample_df.iloc[:5, 2::3]

In [ ]:
threshold = 50000
sample_df['amountPaidOnBuildingClaim'] >= threshold

In [ ]:
threshold = 50000
large_claims = sample_df[sample_df['amountPaidOnBuildingClaim'] >= threshold]
large_claims

In [ ]:
sample_df[sample_df['dateOfLoss'].dt == 2017]

In [ ]:
start_date = '2017-01-01'
end_date = '2017-06-30'

date_mask = (sample_df['dateOfLoss'] > start_date) & (sample_df['dateOfLoss'] <= end_date)

sample_df[date_mask]

In [ ]:
zipcode7 = sample_df[sample_df['reportedZipcode'].astype(str).str.startswith('7')]
zipcode7

#### Handling missing values
There are many ways to deal with missing values in data. The simplest method is to drop the rows that have any missing data in any column. [Pandas Doc](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dropna.html)

In [ ]:
sample_df.info()

In [ ]:
no_na = sample_df.dropna()
no_na.shape

In [ ]:
sample_df.dropna(subset=['latitude', 'longitude'], inplace=True)
sample_df.shape

In [ ]:
sample_df.info()

In [ ]:
sample_df.drop(columns=['lowestFloodElevation'], inplace=True)
sample_df.shape

In [ ]:
sample_df[sample_df['amountPaidOnContentsClaim'].isnull()]

In [ ]:
sample_df.fillna({'amountPaidOnContentsClaim': 0, 'amountPaidOnBuildingClaim': 0}, inplace=True)
sample_df.info()

In [ ]:
sample_df[sample_df['elevatedBuildingIndicator'].isnull()]

## Practice Problems

Load the IMDB movies dataset into a pandas dataframe.

1. How many movies does our data cover?
2. What attributes do we have for each movie?
3. Do any columns have missing values? If so, which?
4. Print out the rows containing missing values? How should we handle these records?

#### Exploring our data

In [ ]:
sample_df['reportedCity'].unique()

In [ ]:
sample_df.drop(columns=['reportedCity'], inplace=True)
sample_df.head()

In [ ]:
sample_df['reportedZipcode'].value_counts()

In [ ]:
sample_df['elevatedBuildingIndicator'].value_counts(normalize=True) * 100

In [ ]:
total = sample_df['amountPaidOnBuildingClaim'].sum()

In [ ]:
f'${total:,.2f}'

In [ ]:
print(f"${sample_df['amountPaidOnBuildingClaim'].sum():,.02f}'s money")

In [ ]:
sample_df.describe()

In [ ]:
sample_df.agg({'amountPaidOnBuildingClaim': 'mean',
              'amountPaidOnContentsClaim': 'sum'})

In [ ]:
sample_df[['amountPaidOnBuildingClaim', 'amountPaidOnContentsClaim']].agg(['mean', 'std'], axis=1)

In [ ]:
total_paid = sample_df['amountPaidOnBuildingClaim'] + sample_df['amountPaidOnContentsClaim']
total_paid

#### Adding new columns

To create a new column, you use square brackets with the new column name on the left side of the equals (i.e. assign your expression to the new column)

In [ ]:
sample_df['totalPaid'] = sample_df['amountPaidOnBuildingClaim'] + sample_df['amountPaidOnContentsClaim']
sample_df.head()

The **rename()** method allows you to edit the column names

In [ ]:
sample_df.rename({'yearofLoss': 'yearOfLoss',
                 'reportedZipcode': 'reportedZipCode'},
                 axis=1,
                 inplace=True)
sample_df.head()

### Sorting dataframes

Pandas dataframes can be sorted using the **sort_values()** method

In [ ]:
sorted_df = sample_df.sort_values('totalPaid', ascending=False)
sorted_df

In [ ]:
sample_df.sort_values('dateOfLoss', inplace=True)
sample_df

### Replacing values in a dataframe

In [ ]:
test_df = pd.DataFrame({'a': [1, 2, 3, '?', 5],
                       'b': [5, '?', 2, 3, 1],
                       'c': [3, '?', '?', 4, 4],
                       'sex': ['male', 'female', 'female', 'male', 'male']})
test_df

You can replace specific values in a dataframe using the **replace()** method.

In [ ]:
test_df ['a'] = test_df['a'].astype(int)

In [ ]:
import numpy as np

test_df.replace('?', np.nan, inplace=True)
test_df

In [ ]:
test_df.info()

In [ ]:
test_df['a'] = test_df['a'].astype(int)

In [ ]:
test_df.replace({'M': True,
                'F': False},
               inplace=True)
test_df

## Practice Problems

In the IMDB dataset, show how many movies were released for each year in the dataset. What genres does our data contain, and how many movies do we have for each genre?

Add a column to our dataframe with the net profit for each movie.

1. What was the total profit for movies released in 2011?
2. What was the average revenue for movies released in December?
3. How much longer or shorter do Action movies run on average compared with Romance movies?
4. Create a dataframe containing only the movies that start with "The".

1. What are the top ten movies by profit?
2. What about the ten lowest?

Notice any lingering issues in our data? Are we missing some revenue and budget data that didn't appear as NaN?

#### Applying functions to data

In [ ]:
def dollar_to_euro(val, rate=0.85):
    return val * rate

In [ ]:
# Calling a function
my_func()

# Passing a function as an object
my_func

In [ ]:
sample_df['totalPaidEuro'] = sample_df['totalPaid'].apply(dollar_to_euro)
sample_df.head()

In [ ]:
sample_df['totalPaidEuro'] = sample_df['totalPaid'].apply(dollar_to_euro, rate=0.75)
sample_df.head()

### Plotting with Pandas

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
sample_df['totalPaid'].hist()

In [ ]:
num_per_zip = sample_df['reportedZipCode'].value_counts()

In [ ]:
num_per_zip.plot.bar(figsize=(20, 10), title='Number of Claims per Zip Code')
plt.xlabel('Zip Code')
plt.ylabel('Number of Claims')
plt.show()

In [ ]:
num_per_zip.sort_index(inplace=True)

In [ ]:
num_per_zip.plot.bar(figsize=(20, 10), title='Number of Claims per Zip Code')
plt.xlabel('Zip Code')
plt.ylabel('Number of Claims')
plt.show()

In [ ]:
sns.set_theme(palette='Accent')

In [ ]:
num_per_zip

In [ ]:
plt.figure(figsize=(20, 10))
sns.barplot(x=num_per_zip.index, y=num_per_zip)
plt.xticks(rotation=70)
plt.show()

In [ ]:
claims_by_year = sample_df.groupby(sample_df['dateOfLoss'].dt.year)['totalPaid'].mean()

In [ ]:
claims_by_year

In [ ]:
claims_by_year.plot(figsize=(20, 10), color='b', marker='.', markersize=10)

In [ ]:
claims_box_data = sample_df[['dateOfLoss', 'totalPaid']].copy()
claims_box_data['year'] = claims_box_data['dateOfLoss'].dt.year

In [ ]:
claims_box_data
claims_box_data.drop('dateOfLoss', axis=1, inplace=True)

In [ ]:
claims_box_data

In [ ]:
sample_df.info()

In [ ]:
sample_df.info()

In [ ]:
plt.figure(figsize=(20, 10))
sns.boxplot(x='year', y='totalPaid', data=claims_box_data)

In [ ]:
claims_box_data['totalPaid'].apply(lambda x: x == 0).sum()

In [ ]:
len(claims_box_data)

In [ ]:
plt.figure(figsize=(20, 10))
sns.boxplot(x='yearOfLoss', y='totalPaid', data=sample_df)

In [ ]:
plt.figure(figsize=(20, 10))
sns.boxplot(x=sample_df['yearOfLoss'].dt.year, y=sample_df['totalPaid'])